# progetto Intcatch file di configurazione

#file immagine 
[map] 
dati/map.png

#ul=upper left 
#primo valore= UTM northing
#secondo valore= UTM easting
[ul]
45.359519
11.019895

#br=bottom right
#primo valore= UTM northing
#secondo valore= UTM easting
[br]	
45.358987
11.021704	

#zone=zona UTM
[zone]
32North

