# progetto Intcatch file di configurazione

#file immagine 
[map] 
dati/map.png

#ul=upper left 
#primo valore= UTM northing
#secondo valore= UTM easting
[ul]
5024874.977
658198.412


#br=bottom right
#primo valore= UTM northing
#secondo valore= UTM easting
[br]	
5024801.992
658333.238

#zone=zona UTM
[zone]
32North

