# progetto Intcatch file di configurazione

#file immagine 
[map] 
dati/map.png

#ul=upper left 
#primo valore= UTM northing		45°21'35.6"
#secondo valore= UTM easting    11°01'10.9"
[ul]
5025113.28
658267.119


#br=bottom right
#primo valore= UTM northing		45°21'32.4000"
#secondo valore= UTM easting	11°01'18.1001"
[br]	
5025018.461
658426.239

#zone=zona UTM
[zone]
32North

